h3 {
  color: #15c4b5;
  font-family: "PT Serif", serif;
}

.page-header,
.page-header a {
  background-color: #f8f6f6;
  padding: 20px 20px 20px 50px;
  margin-top: 0;
  font-size: 30px;
  font-family: "PT Serif", serif;
  color: #000;
}

.content {
  margin-top: 10px;
}

.card {
  width: 600px;
  margin-bottom: 30px;
}
